DATABASE_URL=postgresql://lumina_db_hfug_user:chfuVcNUoE8IdApOMxWTA7wwzDwm484r@dpg-d69j23msb7us73cs5a0g-a.oregon-postgres.render.com/lumina_db_hfug
JWT_SECRET=lumina-ai-secret
TMDB_BEARER_TOKEN="eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJhMDA5YTc1OWQ5YjU5YWQ5ZGEyZGU2ZWExMmJhOWEyNCIsIm5iZiI6MTc3MTU1OTQ2My44MjcwMDAxLCJzdWIiOiI2OTk3ZGEyN2FmZDAxOGNmNDk2NjY0NzQiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.jRjpQXkrZAD5ljXBPL7PlBApck-pfS4E5Yx_XIfo_u8"
GOOGLE_BOOKS_API_KEY="AIzaSyB3QgOgJ096hTvux9LjqWiEKF-ndvCBs-Y"